html {
  height: 100%;
}

body {
  background-color: #2f3035;
  background-image: url(images/background-adare-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header {
  height: 118px;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.301);
  /* height: 40px; */
  text-align: center;
  padding: 10px 0px;
}

main {
  height: 400px;
  text-align: center;
  padding-top: 80px;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  background-color: rgba(0, 0, 0, 0.301);
  padding: 15px 0px;
  /* height: 100px; */
  /* text-align: center; */
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
}

footer p {
  font-size: 12px;
  text-align: center;
  color: rgb(194, 194, 194);
}

h1 {
  font-size: 84px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* text-decoration: none; */
}

nav a {
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
